<!DOCTYPE html>

	<html>

	<head>

		<title></title>

		<link rel="stylesheet" type="text/css" href="../style_sheets/style.css">
		<link rel="stylesheet" type="text/css" href="../style_sheets/nav.css">
		<link rel="stylesheet" type="text/css" href="../style_sheets/footer-icons.css">
		<link rel="stylesheet" type="text/css" href="../style_sheets/categories.css">

	</head>

	<body>

		<header>

			<div class="nav-logo">
				<a href="../index.html">
					<img src="../media/images/wallpaper/Logo.png" height="140" width="150">
				</a>
			</div>
			<div class="nav">
			  	<div class="nav-menu">
					<a href="">About</a>
					<a href="">Contact</a>
					<a href="">Forums</a>
			  	</div>
			</div>

		</header>

		<div class="article-img">
			<img src="../media/images/articles/" width="300" height="200">
		</div>

		<article>

			<div class="categories">
				
			</div>	

			<div class="written">

				<h1></h1>

  				<p class="indent"></p>
			</div>
			

		</article>
		<br/>

		<hr>

		<!-- Footer Code: Social Media Line Up -->
		<footer>
			<!--Center Tag-->
			<center class="foot">
				<a href="https://github.com/kbast13" class="icon alt fa-github">
				    <img src="../media/images/icons/github-512.png" height="30" width="30" class="sites">
				</a>	

				<a href="https://www.facebook.com/" class="icon alt fa-facebook">
	                <img src="../media/images/icons/facebook-icon.png" height="30" width="30" class="sites">
	            </a>

	            <a href="https://www.linkedin.com/feed/" class="icon alt fa-linkedin">
	                <img src="../media/images/icons/linkedin-icon-19.png" height="30" width="30" class="sites">
	            </a>

				<a href="https://www.instagram.com/tore_iffic13/" class="icon alt fa-instagram">
				    <img src="../media/images/icons/app-icon2.png" height="30" width="30" class="sites">
				</a>

				<a href="mailto:dbatteeaston@fordham.edu" class="icon alt fa-envelope">
		            <img src="../media/images/icons/Email-icon.png" height="30" width="30" class="sites">
		        </a>
	        </center>

            <!--Copyright Footer Section-->
        	<center class="foot">
	        	<p>
	        		&copy; Untitled. All rights reserved. 
	        		<br/>
					Design: <a href="start13blog.wordpress.com">Start13</a>
				</p>
			</center>

        </footer>

	</body>

</html>