<!DOCTYPE html>

	<html>

	<head>

		<title>MOO - </title>

		<link rel="stylesheet" type="text/css" href="../style_sheets/style.css">
		<link rel="stylesheet" type="text/css" href="../style_sheets/rankings.css">
		<link rel="stylesheet" type="text/css" href="../style_sheets/nav.css">
		<link rel="stylesheet" type="text/css" href="../style_sheets/footer-icons.css">
		<link rel="stylesheet" type="text/css" href="../style_sheets/categories.css">

	</head>

	<body>

		<header>

			<div class="nav-logo">
				<a href="../index.html">
					<img src="../media/images/wallpaper/Logo.png" height="140" width="150">
				</a>
			</div>
			<div class="nav">
			  	<div class="nav-menu">
					<a href="">About</a>
					<a href="">Contact</a>
					<a href="">Forums</a>
			  	</div>
			</div>

		</header>

		<div class="img-corner">
			<img src="../media/images/corner-images/" width="300" height="300">
		</div>

		<aside class="page-rankings">

			<p><u>Mooing Ten</u></p>

			<div class="first">
				<p>Game</p>
			</div>

			<div class="second">
				<p>Game</p>
			</div>

			<div class="third">
				<p>Game</p>
			</div>

			<div class="fourth">
				<p>Game</p>
			</div>

			<div class="fifth">
				<p>Game</p>
			</div>

			<div class="sixth">
				<p>Game</p>
			</div>

			<div class="seventh">
				<p>Game</p>
			</div>

			<div class="eighth">
				<p>Game</p>
			</div>

			<div class="ninth">
				<p>Game</p>
			</div>

			<div class="tenth">
				<p>Game</p>
			</div>

		</aside>

		<article>

			<div class="categories">
				
			</div>

			<div class="content">

				<center>
					<div class="video-display">

					</div>
				</center>

				<br/>

				<!--Page Specific Portfolios-->
				<div class="work-summary">

					<!--page work summary link-->
					<div class="work">
						<a href="../articles/">
							<h4><img src="../media/images/summary/" width="130" height="120" align="left" hspace="5"><strong></strong></h4>
							<p></p>
						</a>
					</div>

				</div>
				
			</div>

		</article>
		<br/>

		<hr>

		<!-- Footer Code: Social Media Line Up -->
		<footer>
			<!--Center Tag-->
			<center class="foot">
				<a href="https://github.com/kbast13" class="icon alt fa-github">
				    <img src="../media/images/icons/github-512.png" height="30" width="30" class="sites">
				</a>	

				<a href="https://www.facebook.com/" class="icon alt fa-facebook">
	                <img src="../media/images/icons/facebook-icon.png" height="30" width="30" class="sites">
	            </a>

	            <a href="https://www.linkedin.com/feed/" class="icon alt fa-linkedin">
	                <img src="../media/images/icons/linkedin-icon-19.png" height="30" width="30" class="sites">
	            </a>

				<a href="https://www.instagram.com/tore_iffic13/" class="icon alt fa-instagram">
				    <img src="../media/images/icons/app-icon2.png" height="30" width="30" class="sites">
				</a>

				<a href="mailto:dbatteeaston@fordham.edu" class="icon alt fa-envelope">
		            <img src="../media/images/icons/Email-icon.png" height="30" width="30" class="sites">
		        </a>
	        </center>

            <!--Copyright Footer Section-->
        	<center class="foot">
	        	<p>
	        		&copy; Untitled. All rights reserved. 
	        		<br/>
					Design: <a href="start13blog.wordpress.com">Start13</a>
				</p>
			</center>

        </footer>

	</body>

</html>